// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$main_color:#ff9999;

// $wrap_bgc:#f5f5f5;
$wrap_bgc:#fff;
$header_bgc:$main_color;
$contents_bgc:#ffffff;
$footer_bgc:#f5f5f5;

$font_c:#333333;

$area_border_c:#cccccc;

$header_hsz:5.6rem;
$header_px:1.6rem;

$search_area_px:1rem;
$search_area_py:2rem;

$search_bar_wsz:32rem;
$search_bar_hsz:5.2rem;
$search_bar_px:2rem;
$search_bar_py:1.8rem;

$h1_fz:2.6rem;
$h2_fz:2.2rem;
$h3_fz:2.0rem;
$h4_fz:1.8rem;
$h5_fz:1.6rem;
$h6_fz:1.4rem;
$normal_fz:1.4rem;
$small_fz:1.2rem;

$form_wsz:85%;
$form_mxwsz:28rem;

$input_fz:1.6rem;
$input_hsz:3.6rem;
$input_py:($input_hsz - $input_fz)/4;
$input_px:$input_py*2;
$input_rsz:0.6rem;

$form_parts_my:2rem;

$btn_fz:1.6rem;
$btn_hsz:4rem;
$btn_rs:$btn_hsz;
$btn_py:0.6rem;
$btn_px:2rem;
$btn_my:2rem;
$btn_wsz:24rem;

$opacity:0.7;

$std_my:3rem;
$std_mx:2rem;
$std_py:3rem;
$std_px:1.6rem;

$section_my:3rem;

$hb_menu_py:1.8rem;
$hb_menu_px:0.8rem;

$clear_btn_wsz:3rem;
$clear_btn_hsz:3rem;

$card_img:50%;

html{
    font-size: 62.5%;
}

html,body{
    height: 100%;
}

body{
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    position: relative;
    color: $font_c;
}


h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

h1{
    font-size:$h1_fz;
    margin-bottom: $std_my;
}

h2{
    font-size:$h2_fz;
}

h3{
    font-size:$h3_fz;
}

h4{
    font-size:$h4_fz;
}

h5{
    font-size:$h5_fz;
}

h6{
    font-size:$h6_fz;
}

p,a{
    font-size:$normal_fz;
}

button,input,select,textarea,.button{
    font-family:inherit;
    font-size:100%;
}

ul{
    padding: 0;
    margin: 0;
    &>*{
        list-style: none;
    }
}

a{
    color: $font_c;
}

a:hover{
    color: $font_c;
    text-decoration: none;
    opacity:$opacity;
}

a:hover>*,button:hover,.button:hover{
    opacity:$opacity;
}

a:visited{
    color: $font_c;
}

input,select,button,.button,*:focus,*:active,button:focus,.button:focus{
    outline: 0;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: $form_mxwsz;
    &>ul{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.input_form{
    width: $form_wsz;
}

input,select{
    height: $input_hsz;
}

input,select,textarea{
    border:1px solid $area_border_c;
    background:white;
    width: 100%;
    border-radius: $input_rsz;
    padding: $input_py $input_px;
    font-size: $input_fz;
}

.inputs{
    margin-bottom: 1rem;
}

label{
    color: $font_c;
    font-size: $normal_fz;
    margin: 0.5rem 0 0;
}

.input_parts{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    #image{
        border:none;
    }
}

.radio_parts,.input_parts{
    margin-bottom: $form_parts_my;
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
    & a{
        text-decoration: underline;
    }
    margin-bottom: $std_my;
}

.checkbtn{
    width: $normal_fz;
    height:$normal_fz;
    margin-right: 1rem;
}

.radiobtns_label{
    margin-top: 5px;
    font-size: 14px;
    text-align: left;
}

.radiobtns{
    display: flex;
    justify-content: space-between;
}
.radio{
    display: flex;
    justify-content: center;
    align-items: center;
    & a{
        text-decoration: underline;
    }
}

.radiobtn{
    width: $normal_fz;
    height:$normal_fz;
    margin-right: 1rem;
}

.form_requires{
    color: red;
}

header{
    height: $header_hsz;
    width: 100%;
    background-color: $header_bgc;
    padding: 0 $header_px;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_contents{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 960px;
}

.logo{
    height: $header_hsz;
}

#hb_menu{
    background: #fff;
    position: fixed;
    width: 70%;
    height: 100%;
    top: $header_hsz;
    z-index: 998;
    transition: 0.5s;
    padding: $hb_menu_py $hb_menu_px;
    & p{
        font-size: 2.2rem;
        margin-bottom: $hb_menu_py;
    }

    & a{
        font-size: 1.6rem;
        line-height: 2.4;
        margin-bottom: $hb_menu_px;
        &:hover{
            text-decoration: none;
        }
    }
}

.hb_menu_close{
    left: -70%;
}

.hb_menu_open{
    left: 0;
}

#darker{
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:$opacity;
    z-index:997;
    visibility:hidden;
}

.scroll-prevent{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

footer{
    background-color: $footer_bgc;
    text-align: center;
    padding: 2.4rem 1.6rem;
    margin-top:auto;
}

#wrapper{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $wrap_bgc;
}

#contents{
    padding-top: $header_hsz;
    padding-bottom: $std_my;
}

button,.button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    font-size:$btn_fz;
    background-color: $main_color;
    color: #fff;
    border-radius: $btn_rs;
    padding:$btn_py $btn_px;
    min-width: $btn_wsz;
}

button:hover,.button:hover{
    opacity:$opacity;
}

.cart_btn{
    background: url("/image/icons/cart.png") left 3rem top 1.8rem no-repeat;
    background-size: 2.4rem;
    background-color: $main_color;
    height: 6rem;
    padding-left: 5.6rem;
    width: 30rem;
    font-size: 2.0rem;
    margin: 0 auto 2rem;
}

.product_msg{
    height: 6rem;
    color: $main_color;
    font-size: 2rem;
}

#fav_btn{
    min-width: 0;
    width: 6rem;
    height: 6rem;
    background-size: 3rem;
    padding: 0;
}

.favorite{
    background: url("/image/icons/heart.png") left 1.5rem top 1.5rem no-repeat;
    background-color: $main_color;
}

.unfavorite{
    background: url("/image/icons/heart_g.png") left 1.5rem top 1.5rem no-repeat;
    background-color: #eee;
}

section{
    background-color: $contents_bgc;
    margin-bottom: $section_my;
}

section:last-of-type{
    margin-bottom: 0rem;
}

.header_btns{
    display: flex;
    align-items: center;
    &>button{
        min-width: $header_hsz*0.4;
        width: $header_hsz*0.4;
        margin-left: 2rem;
        padding: 0;
        border-radius: 0;
    }
}
.header_icon{
    height: $header_hsz*0.4;
    width: $header_hsz*0.4;
}

.btns{
    text-align : center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lovers_btns{
    text-align : center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    & :not(:last-child){
        margin-bottom: $btn_my;
    }
}


.product_card{
    display: flex;
    padding: 2% 0;
    border-bottom: 0.1rem solid $area_border_c;
    position: relative;
    &>a{
        display: flex;
    }
    &:first-of-type{
        border-top: 0.1rem solid $area_border_c;
    }
    &_img{
        width: $card_img;
        height: 28vw;
        max-height: 16.6rem;
        object-fit: cover;
        padding-right: 3%;
    }
}

.remove_product_btn{
    width: $clear_btn_wsz;
    height: $clear_btn_hsz;
    border-radius: $clear_btn_hsz*0.25;
    line-height: $clear_btn_hsz;
    z-index: 100;
    position: absolute;
    right: 0;
    top:4%;
    & button{
        padding: 0;
        min-width: 0;
        min-height: 0;
        width: $clear_btn_wsz;
        height: $clear_btn_hsz;
        background: none;
        color:$main_color;
        font-size: $clear_btn_wsz;
    }
}

.cart_action_btns{
    font-size: 1.8rem;
    position: absolute;
    right: 0;
    bottom:4%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .delete_btn{
        &:hover{
            cursor: pointer;
            opacity: $opacity;
        }
    }
}

.cart_change_count{
    display: flex;
    flex-direction: row;
    z-index: 100;
    height: 2.4rem;
    font-size: 1.8rem;
    align-items: center;
    vertical-align: middle;
    &>p{
        width: 4rem;
        text-align: center;
    }
}

.cart_minus_btn,.cart_plus_btn{
    min-width: 0;
    padding: 0;
    width: 2.4rem;
    height: 2rem;
    line-height: 2rem;
}

.cart_cannot_plus_btn{
    background-color: #eee;
    color: $font_c;
    min-width: 0;
    padding: 0;
    width: 2.4rem;
    height: 2rem;
    line-height: 2rem;
    &:hover{
        opacity:1;
    }
}

.cart_sum{
    font-size: $h2_fz;
    text-align: center;
    margin-bottom: 3rem;
}

.cart_card{
    padding-right: $clear_btn_wsz;
    &_detail{
        padding-bottom: 4.6rem;
    }
}

.product_detail{
    width: 50%;
}

.rc_{
    &cards{
        margin-bottom: $std_my;
    }
    &title{
        font-size: 1.8rem;
        font-weight: bold;
    }
    &genre{
        font-size: 1.4rem;
    }
    &price{
        font-size: 1.6rem;
    }
    &count{
        font-size: 1.6rem;
    }
}

.od_{
    &cards{
        margin-bottom: $std_my;
    }
    &title{
        font-size: 1.8rem;
        font-weight: bold;
    }
    &for{
        font-size: 1.4rem;
    }
    &count{
        font-size: 1.4rem;
    }
    &date{
        font-size: 1.2rem;
    }
}

#orders{
    margin-bottom: $std_my;
}

.nothing_msg{
    text-align: center;
    height: 6rem;
    font-size: 2rem;
    display: block;
}

.msg_box{
    font-size: 1.6rem;
    margin-bottom: 2rem;
    width: 100%;
    & button{
        min-width: 0;
    }
    text-align: left;
}

.submit_a{
    text-decoration: underline;
}

.form_alert{
    font-size: 1.2rem;
    color: red;
}

.input_alert{
    border: 1px solid red;
}

.alert_msg{
    color:red;
}

.no_wrap{
    display: inline-block;
}

.pagination{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    text-align: center;
    font-size: 1.4rem;
    .page-item{
        border: 0.1rem solid $main_color;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        >.page-link{
            width: 3rem;
            line-height: 3rem;
            color: $main_color;
        }
    }
    .active{
        background-color: $main_color;
        >.page-link{
            color: white;
        }
    }
    .disabled{
        background-color: #EEE;
        border: 0.1rem solid #AAA;
        >.page-link{
            color: #888;
        }
    }
    .page-item:last-child,.page-item:first-child{
        border-radius: 10%;
        height: 3rem;
        width: 4.8rem;
        line-height: 3rem;
        background-color: $main_color;
        >.page-link{
            color: white;
        }
    }
    .page-item:last-child.disabled,.page-item:first-child.disabled{
        background-color: #EEE;
        border: 0.1rem solid #AAA;
        >.page-link{
            color: #888;
        }
    }
}


.alert-dismissible .close {
    height: 100%;
}
//↑スタンダード設定////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////



//section///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
.normal_section{
    padding: $std_py $std_px;
    h1{
        text-align: center;
    }
}



//↓トップページ///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
#index .alert{
    margin-top: $std_my;
}

#banner{
    margin-top: $std_my;
}

#banner_img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

#search_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: $search_area_py $search_area_px*2;

    &>h1{
        margin-bottom: $search_area_py;
    }
}

.search_bar{
    background: url("/image/icons/glass_g.png") left $search_bar_py top $search_bar_py no-repeat;
    background-size: $search_bar_hsz - $search_bar_py*2;
    background-color: #eee;
    border: 0rem;
    width: $search_bar_wsz;
    height: $search_bar_hsz;
    border-radius: $search_bar_hsz;
    padding: $search_bar_py $search_bar_px $search_bar_py ($search_bar_hsz - $search_bar_py*2)+$search_bar_py*2;
    font-size: $search_bar_hsz - $search_bar_py*2;
    margin-bottom: 3rem;
}

.search_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    #add_condition{
        text-decoration: underline;
        &:hover{
            opacity:$opacity;
            cursor: pointer;
        }
    }
}

.key_to_conditions_btn,.conditions_to_key_btn{
    margin-bottom: $search_area_py;
    border-radius: 0.4rem;
    color: $font_c;
    background-color: #eee;
}

.search_btn{
    font-size: 1.8rem;
    height:4.6rem;
}

.popularity_rank{
    padding: $std_py $std_px;
    &>h2{
        margin-bottom: $std_my;
    }
}

#random_recommend{
    padding: $std_py $std_px;
    margin-bottom: $std_my;
    h2{
        margin-bottom: 1rem;
    }
    .comment{
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    .description{
        float: left;
    }
    .reload_btn{
        float: right;
    }
    .fa-sync-alt{
        font-size: 2rem;
        color: $main_color;
    }
    .product_card{
        clear: right;
        clear: left;
        border-top: 0.1rem solid $area_border_c;
    }
}


//↓ログイン///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    & .btns{
        margin-bottom: $std_my;
        &>button{
            width: $btn_wsz;
        }
    }
}


.login_nav{
    text-decoration: underline;
    font-size: $small_fz;
    text-align: center;
    &>li:nth-of-type(n+2){
        margin-top: 0.6rem;
    }
}



//↓登録///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
#register{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $std_py 0;
    & .btns{
        margin-bottom: $std_my;
        &>button{
            width: $btn_wsz;
        }
    }
}



//↓検索結果///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
#conditions{
    text-align: center;
    padding: $std_py 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results{
    padding: 0 $std_px $std_py;
    .product_card:last-of-type{
        border-bottom: none;
    }
}

//↓商品詳細///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
.product_img{
    width: 100%;
    height: 66.66vw;
    max-height: 40rem;
    object-fit: cover;
}

#product_header{
    position: relative;
    & button{
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }
}

#product_explanation{
    padding: $std_py $std_px;
    & .product_name{
        margin-bottom: $std_my/2;
    }
    & .price{
        margin-bottom: $std_my;
    }
    & .catalog_in_btn{
        background-color: #fff;
        border: 1px solid $main_color;
        color: $main_color;
        width: 30rem;
        text-align: center;
        margin: 0 auto $std_my;
    }
}

#product_description{
    font-size: 1.6rem;
    padding: 0 $std_px $std_py;
}



//↓イベントリマインダー///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
.event_card{
    display: flex;
    width: 100%;
    max-width: 100%;
    text-align: left;
    padding: 2% 0;
    border-bottom: 0.1rem solid $area_border_c;
    & a{
        display: flex;
        width: 100%;
    }
    &:first-of-type{
        border-top: 0.1rem solid $area_border_c;
    }
}

.event_card_img{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 3%;
}

.event_detail{
    width: 100%;
    margin: auto 0;
}

#events{
    margin-bottom: $std_my;
}

.an_{
    &date{
        font-size: 1.6rem;
    }
    &event{
        font-size: 1.8rem;
        font-weight: bold;
    }
    &person{
        font-size: 1.6rem;
    }
}

.fa-user{
    margin-right: 2%;
}

#event_reminder{
    h2{
        text-align: center;
        margin-bottom: $std_my;
    }
}

//↓大事な人リスト///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

.lover_card{
    width: 100%;
    max-width: 100%;
    text-align: left;
    display: flex;
    padding: 2% 0;
    border-bottom: 0.1rem solid $area_border_c;
    & a{
        display: flex;
        width: 100%;
    }
    &:first-of-type{
        border-top: 0.1rem solid $area_border_c;
    }
}

.lover_card_img{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 3%;
}

.lover_detail{
    width: 100%;
    margin: auto 0;
}

#lovers{
    margin-bottom: $std_my;
}

.lv_{
    &name{
        font-size: 2rem;
        font-weight: bold;
        line-height: 4rem;
    }
    &relationship{
        font-size: 1.6rem;
    }
}

.fa-people-arrows{
    margin-right: 2%;
}

.recommend_rank{
    padding: $std_py $std_px;
    &>h2{
        margin-bottom: $std_my;
    }
}

//↓大事な人///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
#lover{
    display: flex;
    flex-direction: column;
    align-items: center;

    .lover_img {
        width: 50vw;
        height: 50vw;
        max-width: 24rem;
        max-height: 24rem;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 3%;
    }
    .submit_a{
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .lover_name{
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin: 2rem 0;
    }
    .lover_btns{
        button{
            margin-bottom: $std_my/2;
        }
    }
}

//↓大事な人登録///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
.preview_lover_imgs{
    margin-top: 0.5rem;
    .lover_img{
        width: 100%;
        max-width: 24rem;
        position: relative;
        margin: 0 auto $std_my;
        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }
        & img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            top: 0;
            object-fit: cover;
        }
    }
}


//↓イベント追加///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
#event_register{
    display: flex;
    flex-direction: column;
    align-items: center;

    & a{
        text-decoration: underline;
        text-align: right;
        font-size: 1.2rem;
    }
    & button{
        &:not(:last-of-type){
            margin-bottom: $std_my/2;
        }
    }
}
//大切な人登録///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
#lovers_register{
    display: flex;
    flex-direction: column;
    align-items: center;
}
//大切な人一覧///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
#lovers_list>h2{
    text-align: center;
}
//リマインダー詳細///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
#reminder_detail{
    .alert{
        margin-top: $std_my;
    }
    &_img{
        width: 100%;
    }
    &_explanation{
        padding: $std_py $std_px;
        text-align: center;
        & p{
            font-size: 1.8rem;
            margin-bottom: $std_my;
        }
        &_title{
            & span{
                font-size: 150%;
            }
        }
         .submit_a{
            margin-top: 2rem;
            margin-bottom: 0;
        }
    }
}
//お届け先情報入力フォーム///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
#fillin_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        margin: 2rem 0;
    }
}
//支払情報フォーム///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
#payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    &>p{
        text-align: left;
    }
}

button.stripe-button-el,
button.stripe-button-el>span {
  background-color: $main_color !important;
  background-image: none;
  font-family:inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-size:$btn_fz;
  background-color: $main_color;
  color: #fff;
  border-radius: $btn_rs;
  min-width: $btn_wsz;
  line-height: $btn_fz+$btn_py+$btn_py;
  box-shadow:none;

  &:hover{
    opacity:$opacity;
  }
  &:focus{
    outline: 0;
  }
  &:active{
    opacity:$opacity;
    background-color: $main_color;
  }
}

.stripe-button-el:not(:disabled):active span, .stripe-button-el.active span{
    opacity:$opacity;
    background-color: $main_color;
}

button.stripe-button-el{
    padding:$btn_py $btn_px;
    text-shadow: none;
}

//notfoundリザルト画面///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

#result_notfound{
    text-align: center;
}

//オリジナルカタログ画面///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

.oc_{
    &cards{
        margin-bottom: $std_my;
    }
    &card{
        display: flex;
        max-width: none;
        width: 100%;
        text-align: left;
        padding: 2% 0;
        border-bottom: 0.1rem solid $area_border_c;
        position: relative;
        &>a{
            display: flex;
        }
    }
    &img{
        width: $card_img;
        height: 28vw;
        object-fit: cover;
        padding-right: 3%;
    }
    &detail{
        width: 50%;
        padding-right: $clear_btn_wsz;
        & h3{
            font-size: 2rem;
        }
    }
}

.remove_product_from_catalog_btn{
    top:80%;
    right:4%;
    text-decoration: underline;
    &:hover{
        opacity: $opacity;
    }
}

.product_in_catalog_card{
    padding-bottom: 8%;
}

#original_catalog{
    text-align: center;
    & .btns{
        margin-bottom: 4rem;
    }
    & h2{
        margin-bottom: 4rem;
    }
}

#original_catalog_detail{
    h2{
        // text-align: center;
        margin-bottom: 2rem;
    }
    .reply{
        font-size: $h2_fz;
        text-align: center;
        margin-bottom: $std_my;
        line-height: 3.6rem;
    }
    .btns{
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .nothing_msgs{
        border-top: 0.1rem solid $area_border_c;
        padding-top: $std_my;
    }
    .submit_a{
        margin-top: 2rem;
        margin-bottom: 0;
        text-align: center;
    }
    .oc_product_cards{
        .btns{
            margin-bottom: 0.4rem;
            margin-top: $std_my;
        }
    }
}

#select_product{
    h2{
        // text-align: center;
        margin-bottom:$std_my;
    }
    & .msg{
        text-align: center;
        font-size: 2rem;
        margin-bottom: $std_my;
    }
}

.oc_detail_img{
    width: 100%;
    margin-bottom: $std_my;
}

#select_product_detail{
    & .btns{
        margin:1rem 0 $std_my ;
    }
}

.inactive_tab{
    background-color: #fff;
    color: $main_color;
    border: 0.1rem solid $main_color;
}

.tabs{
    display: flex;
    width: 100%;
    &>button{
        border-radius: $btn_rs $btn_rs 0 0;
        min-width: 0;
        width: 33.3333333%;
    }
}

.ori-pagination{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    .item{
        border: 0.1rem solid $main_color;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        >a{
            line-height: 3rem;
            color: $main_color;
        }
    }
    .active{
        background-color: $main_color;
        >a{
            color: white;
        }
    }
    .arrow{
        border-radius: 10%;
        height: 3rem;
        width: 4.8rem;
        line-height: 3rem;
        background-color: $main_color;
        color: white;
    }
    .disabled{
        background-color: #EEE;
        color: #666;
    }
}

.no_catalog_msg{
    margin: $std_my 0;
}

#original_catalog_select{
    h2{
        text-align: center;
    }
    .rc_cards{
        border-top: 1px solid $area_border_c;
    }
}

//オリジナルカタログ登録画面///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
.preview_imgs{
    margin-top: 0.5rem;
    img{
        width: 100%;
    }
}


//登録情報画面///////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
#register_info{
    .submit_a{
        text-align: center;
        margin-top: 1rem;
        >a{
            font-size: 1.8rem;
        }
    }
    table{
        margin: 0 auto;
        th{
            width: 35%;
            font-size: 1.6rem;
        }
        td{
            font-size: 1.6rem;
        }
    }
}


.go_other_page{
    >a{
        text-decoration: underline;
    }
}


#update_email,#update_pass,#pass_reset_mail,#pass_reset,#pass_verify{
    display: flex;
    flex-direction: column;
    align-items: center;
    & .btns{
        &>button{
            width: $btn_wsz;
        }
    }
}

#please_verify_email{
    .btns{
        margin-top: $std_my;
    }
}

#pass_verify{
    .btns{
        margin-top: 0;
    }
    &>p{
        text-decoration: underline;
        font-size: $small_fz;
        text-align: center;
        margin-top: 2rem;
    }
}

@media screen and (min-width:480px) { //横画面
    #contents{
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }
    .oc_img{
        max-height:16rem;
    }
    .product_in_catalog_card{
        padding-bottom: 2%;
    }
}
@media screen and (min-width:768px) and ( max-width:960px) { 
    .oc_img{
        max-height:18rem;
    }
}
@media screen and (min-width:960px) {
    #contents{
        width: 80%;
        max-width: 86rem;
        margin-left: auto;
        margin-right: auto;
    }
    .rc_cards{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $area_border_c;
    }
    .product_card{
        display: flex;
        flex-direction: row;
        padding: 2% 1.5% 2% 1.5%;
        border-bottom: none;
        position: relative;
        width: 33.33333%;
        &>a{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &:first-of-type{
            border-top: none;
        }
        &_img{
            width: 100%;
            height: 16vw;
            max-height:17.4rem;
            padding-right: 0;
            object-fit: cover;
        }
        .product_detail{
            width: 100%;
            margin-top: $std_my/2;
            margin-bottom: $std_my;
        }
    }
    .oc_cards{
        display: flex;
        flex-wrap: wrap;
    }

//トップ画面
    #random_recommend{
        width: 33.333%;
        padding-right: 0;
        .product_card{
            width: 100%;
            padding: 6% 0;
        }
        a{
            width: 100%;
        }
        .product_card_img{
            width: 100%;
        }
        .product_detail{
            width: 100%;
        }
    }

//商品詳細画面
    #product_top{
        display: flex;
    }

    #product_description{
        padding: $std_py;
    }
    .product_img{
        height: 33.33vw;
    }
    #product_detail{
        padding-top: $std_py;
    }
//お気に入り
    #od_cards{
        display: flex;
        flex-wrap: wrap;
    }
//オリジナルカタログお届け画面
    .oc_product_cards{
        display: flex;
        flex-wrap: wrap;
    }
//オリジナルカタログ商品選び画面
    #select_product_detail{
        padding: $std_py;
    }
//カート
    #od_cards{
        display: flex;
        flex-wrap: wrap;
    }
//購入フォーム
    #fillin_form{
        max-width: none;
    }
    #fillin_form_divs{
        display: flex;
        justify-content: space-between;
    }
    .fillin_form_div{
        width: $form_mxwsz;
    }
//オリジナルカタログ
    .oc_card{
        display: flex;
        flex-direction: row;
        padding: 2% 1.5% 2% 1.5%;
        border-bottom: none;
        position: relative;
        width: 33.33333%;
        &>a{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &:first-of-type{
            border-top: none;
        }
        .oc_img{
            width: 100%;
            height: 16vw;
            max-height:17.4rem;
            padding-right: 0;
            object-fit: cover;
        }
        .oc_detail{
            width: 100%;
            margin-top: $std_my/2;
            margin-bottom: $std_my;
            >h3{
                font-size: 1.8rem;
            }
        }
    }
//オリジナルカタログ詳細
    .oc_product_cards{
        border-top: 0.1rem solid $area_border_c;
        border-bottom: 0.1rem solid $area_border_c;
    }
    .remove_product_from_catalog_btn{
        top:85%;
        text-decoration: underline;
        &:hover{
            opacity: $opacity;
        }
    }

    #catalog_top{
        display: flex;
    }

    #catalog_detail{
        padding-top: $std_py;
    }
    #catalog_img{
        width: 60%;
        height: 33.33vw;
        max-height: 40rem;
        object-fit: cover;
    }

    #catalog_explanation{
        width: 40%;
        padding: 0 $std_px;
    }
//イベントリマインダー
    #events{
        display: flex;
        flex-wrap: wrap;
    }
    .event_card{
        width: 33.333%;
        border: none;
        a {
            display: block;
        }
        padding: 0 4%;
    }
    .event_card:first-of-type{
        border: none;
    }
    .event_card_contents{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .event_detail{
        margin: 2rem 0;
    }

    #event_reminder{
        .btns{
            margin-top: $std_my;
        }
    }

//イベントリマインダー詳細
    #reminder_detail_top{
        display: flex;
        padding-top: $std_py;
    }
    #reminder_detail_img{
        width: 60%;
        height: 33.33vw;
        max-height: 40rem;
        object-fit: cover;
    }

    #reminder_detail_explanation{
        width: 40%;
    }

    //大切な人リストトップ


    #lovers{
        display: flex;
        flex-wrap: wrap;
    }
    .lover_card{
        width: 33.333%;
        border: none;
    }
    .lover_card>a{
        width: 100%;
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    .lover_detail{
        padding: 1.6rem 0;
        text-align: center;
    }
    .lover_card:first-of-type {
        border-top: none;
    }
    .lover_card_img{
        max-width: 20rem;
        max-height: 20rem;
    }
    //大切な人詳細
    .lover_detail_top{
        display: flex;
        justify-content: space-between;
    }
    .lover_details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-right: 3rem;
    }
    .lover_actions{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 3rem;
    }
}