// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$main_color:#ff9999;

$wrap_bgc:#f5f5f5;
$header_bgc:$main_color;
$contents_bgc:#ffffff;
$footer_bgc:$wrap_bgc;

$font_c:#333333;

$area_border_c:#cccccc;

$header_hsz:56px;

$search_area_pwsz:10px;
$search_area_phsz:20px;

$search_bar_wsz:300px;
$search_bar_hsz:48px;
$search_bar_pwsz:18px;
$search_bar_phsz:16px;


html,body{
    height: 100%;
}

body{
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    position: relative;
    color: $font_c;
}


h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

h1{
    font-size: 24px;
}

h2{
    font-size: 22px;
}

a{
    color: $font_c;
}

a:hover{
    color: $font_c;
    text-decoration: none;
    opacity:0.8;
}

a:hover>*{
    opacity:0.8;
}

a:visited{
    color: $font_c;
}

input select button{
    outline: 0;
}

*:focus{
    outline: 0;
}

header{
    height: $header_hsz;
    width: 100%;
    background-color: $header_bgc;
    padding: 0 16px;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: $header_hsz;
}

footer{
    background-color: $footer_bgc;
    text-align: center;
    padding: 24px 16px;
    margin-top:auto;
}

#wrapper{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $wrap_bgc;
}

#contents{
    margin-top: $header_hsz;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.header_btns{
    display: flex;
    align-items: center;
    &>button{
        margin-left: $header_hsz*0.4;
    }
}
.header_icon{
    height: $header_hsz*0.4;
    width: $header_hsz*0.4;
}

.btn{
    background-color: $main_color;
    color: #fff;
    height: 40px;
    border-radius: 40px;
}

.btn:hover{
    color: #fff;
    opacity:0.8;
}

.btns{
    text-align : center ;
}

.rc_cards{
    margin-bottom: 10px;
}

.rank_card{
    display: flex;
}

.product_image{
    width: 40%;
    padding-right: 3%;
    margin-bottom: 10px;
}

.product_detail{
    width: 60%;
}

.rc_{
    &title{
        font-size: 18px;
        font-weight: bold;
    }
    &genre{
        font-size: 14px;
    }
    &price{
        font-size: 16px;
    }
}


//↑スタンダード設定

#slider{
    margin-bottom: 20px;
}

#slider_img{
    width: 100%;
}

#search_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: $search_area_phsz $search_area_pwsz;

    &>h1{
        margin-bottom: $search_area_phsz;
    }

    .search_bar{
        margin-bottom: $search_area_phsz;
    }

    .btn{
        width: 120px;
    }
}

.search_bar{
    background: url("https://tanp_mission.jp/image/icons/glass_g.png") left $search_bar_phsz top $search_bar_phsz no-repeat;
    background-size: $search_bar_hsz - $search_bar_phsz*2;
    background-color: #eee;
    border: 0px;
    width: $search_bar_wsz;
    height: $search_bar_hsz;
    border-radius: $search_bar_hsz;
    padding: $search_bar_phsz $search_bar_pwsz $search_bar_phsz ($search_bar_hsz - $search_bar_phsz*2)+$search_bar_phsz*2;
    font-size: $search_bar_hsz - $search_bar_phsz*2;
}

.search_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area{
    background-color: #fff;
    margin-bottom: 20px;
}

.area:last-of-type{
    margin-bottom: 0px;
}

.popularity_rank{
    padding: 20px 10px;
    &>h2{
        margin-bottom: 20px;
    }
    button{
        width: 160px;
    }
}